
*{
 box-sizing: border-box;
 margin:0;
 padding:0;
}
html{
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
  color:#000000;
}



body{
  word-spacing: 3px;
 /* word-spacing: normal;*/
  overflow-x:hidden;
/* font-family: "Playfair Display", Georgia, serif; */
/* margin-left: 30px; */

}



.content_style_1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 40.8px;
  vertical-align: baseline;
  font-weight: 500;
  text-align: left;
  color: rgba(82, 84, 86,0.89);
  text-decoration: none solid rgb(46, 46, 48);
}

.content_style_2_nohover{
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 26.88px;
  font-weight: 800;
  text-shadow: 1px 1px 2px rgba(123, 176, 214,1);
  color: rgb(239, 239, 239);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: block;
  margin: 1%;
  margin-top: 4%;
}
.content_style_2{
  /* background-color:rgb(239, 239, 239); */
  font-family: 'Cormorant Garamond', serif;
  color: #003057;
  font-size: 18px;
  line-height: 26.88px;
  vertical-align: baseline;
  font-weight: 800;
  text-decoration: none solid rgb(255,255,255); 
}

.content_style_2:hover{
  text-decoration: underline;
  font-weight: 900;
  transition: 0.5s;
  cursor: pointer;
  
  /* text-align: center; */
  /* color: rgba(255,255,255,0.1); */
  color: rgba(0,70,119,0.5);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
  
}

.shimmer {
  margin: 0 auto;
  padding: 0 140px 0 0;
  display: inline;
  margin-bottom: 0;
}

.shimmer {
  text-align: center;
  /* color: rgba(255,255,255,0.1); */
  color: rgba(0,70,119,0.5);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.site-logo
{
  padding-top: 10px;
}
 
/*overlap separated boxed contents - 2*/
.overlap
{
  background-color:rgb(239, 239, 239);
}
.over { 
  position:relative;
  bottom:50px;
  margin:0px 50px 0px 50px;
}

 .ov1
{
  /* background-color: #f5f5f5; */
  background-color: white;
margin:5px;

border-radius: 25px 0 25px 0 ;
box-shadow: 0px 14px 20px rgba(0, 70, 119, 0.4);
height:130px;
width:105%;
box-sizing: border-box;
text-align: center;
transition: 0.8s;
}
.ov1:hover{
  background-color: #f5f5f5;;
  cursor: pointer;
  box-shadow: 0px 14px 20px rgba(0, 70, 119, 0.4);
  margin-top: -0.15%;
  /* text-decoration: underline; */
  font-weight: 1000;
  transition: 0.8s;
  cursor: pointer;
}
.pillar1
{
  padding:35px 5px 5px 15px ;
}

.pillar2
{
  padding:15px 5px 5px 15px ;
}
.pillar3
{
  padding:35px 5px 5px 15px ;
}
.pillar4
{
  padding:45px 5px 5px 15px ;
}


.overlap .row2
{
margin-top: 13px;
}


/*end of overlap*/

.founder{
  background-color:rgb(239, 239, 239); 
  /* padding:0% -5% 0% 5%; */
  
  
}

@media (min-width:1000px) {
  #wrapper
{
  width: 150%;
}
}


/*school specs*/
.school-specs{
  padding: 7em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.slider-hero {
  position: relative; }

.owl-carousel {
  position: relative; }
  .owl-carousel .owl-item {
    opacity: 1; }
    .owl-carousel .owl-item.active {
      opacity: 1; }
  .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%; }
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: 0;
      color: white !important;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
      opacity: 1; }
      @media (prefers-reduced-motion: reduce) {
        .owl-carousel .owl-nav .owl-prev,
        .owl-carousel .owl-nav .owl-next {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
      .owl-carousel .owl-nav .owl-prev span:before,
      .owl-carousel .owl-nav .owl-next span:before {
        font-size: 30px; }
    .owl-carousel .owl-nav .owl-prev {
      left: 20px; }
    .owl-carousel .owl-nav .owl-next {
      right: 20px; }
  .owl-carousel .owl-dots {
    text-align: center;
    margin-top: 0;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0; }
    .owl-carousel .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      position: relative; }
      .owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
        outline: none !important; }
      .owl-carousel .owl-dots .owl-dot.active {
        background: #ff5959; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.work1 {
  width: 100%; }
  .work1 .img {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26); }
    .work1 .img:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      z-index: -1;
      background: #000;
      opacity: .3; }
  .work1 .text1 h2 {
    font-size: 60px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase; }
    @media (max-width: 991.98px) {
      .work1 .text1 h2 {
        font-size: 40px; } }
  .work1 .text1 span {
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 500; }

.thumbnail {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateY(50%) translateX(-50%);
  -ms-transform: translateY(50%) translateX(-50%);
  transform: translateY(50%) translateX(-50%);
  z-index: 99;
  width: 100%; }
  .thumbnail li {
    display: inline-block; }
    .thumbnail li a {
      display: block;
      margin: 4px; }
      .thumbnail li a img {
        width: 80px;
        border-radius: 50%;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
    .thumbnail li.active a img {
      border: 4px solid #fff;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); }
    @media (max-width: 767.98px) {
      .thumbnail li a img {
        width: 50px; } }

/*end of school specs*/

/*principal message*/
.principal-msg
{
  margin-top: 20px;
}
.principal-img
 {
  height:85%;
  width:200px;
  }
.msg-box
   {
        /* background-color:rgb(239, 239, 239); */
        background-color: rgba(239, 239, 239,0.5);
        border-radius: 4px;
        box-shadow: 0px 4px 20px rgba(0, 70, 119, 0.4);
        /* padding: 15% 65%; */
        padding: 5% 6%;
        max-width: 90%;
        /* align-items: center; */
       
        position: relative;

   }
      .quote-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 20px;

}
/*end of principal message*/


/*teachers profile*/
/* .ftco-section
{
  /* background-color: rgb(184, 217, 247); */
  /* background-color:#ccccff ; */
  
/* } */ 
/*end of techers profile*/

/*school levels*/

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif; }

* {
  box-sizing: border-box; }


.page-content {
  display: grid;
  /*grid-gap: 1rem;*/
  padding: 1rem;
  /*max-width: 1024px;*/
  margin: 0 auto;
  font-family: var(--font-sans); }
  @media (min-width: 800px) {
    .page-content {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 600px) {
    .page-content {
      grid-template-columns: repeat(3, 1fr); } }

.c1{
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1); }
  @media (min-width: 600px) {
    .c1 {
      height: 350px; } }
  .c1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none; }
  .c1:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%); */

    background-image: linear-gradient(to bottom, rgba(0, 48,87, 0) 0%, rgba(0, 48,87, 0.009) 11.7%, rgba(0, 48,87, 0.034) 22.1%, rgba(0, 48,87, 0.072) 31.2%, rgba(0, 48,87, 0.123) 39.4%, rgba(0, 48,87, 0.182) 46.6%, rgba(0, 48,87, 0.249) 53.1%, rgba(0, 48,87, 0.32) 58.9%, rgba(0, 48,87, 0.394) 64.3%, rgba(0, 48,87, 0.468) 69.3%, rgba(0, 48, 87, 0.54) 74.1%, rgba(0, 48, 87, 0.607) 78.8%, rgba(0, 48, 87, 0.668) 83.6%, rgba(0, 48,87, 0.721) 88.7%, rgba(0, 48, 87, 0.762) 94.1%, rgba(0, 48, 87, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e); }
  .c1:nth-child(1):before {
    /* background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
    background-image: url("images/Lower.jpg");
  }
  .c1:nth-child(2):before {
    /* background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
    background-image: url("images/Middlee-editted.jpg");
  }
  .c1:nth-child(3):before {
    /* background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
    background-image: url("images/Higher.jpg");
  }
  .c1:nth-child(4):before {
    background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); }

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1; 
  margin-bottom: 10px;
}
  .content > * + * {
    margin-top: 1rem; }

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2; }

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35; }

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none; }
  .btn:hover {
    background-color: #0d0d0d; }
  .btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px; }

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0); }
  .content {
    transform: translateY(calc(100% - 4.5rem)); }
    .content > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e); }
  .card:hover,
  .card:focus-within {
    align-items: center; }
    .card:hover:before,
    .card:focus-within:before {
      transform: translateY(-4%); }
    .card:hover:after,
    .card:focus-within:after {
      transform: translateY(-50%); }
    .card:hover .content,
    .card:focus-within .content {
      transform: translateY(0); }
      .card:hover .content > *:not(.title),
      .card:focus-within .content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8); }
  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s; } }
/*end of school */


/*learning with play
.learning{
  background:palegoldenrod;
}*/
/*end of learning with play*/

/*student corner*/
.student {
  padding: 140px 20px 20px 20px;
  /* background-color: rgb(184, 217, 247); */
  background-color:#ccccff 

}

.avatar {
	border: 0.3rem solid rgba(#fff, 0.3);
	margin-top: -6rem;
	margin-bottom: 1rem;
	max-width: 9rem;
}
.c3
{
 margin: 8px;
 width: 100%;
}


/*student corner end*/

/*news-events*/
.news-events
{
  margin-bottom: 110px;
}
@media (min-width:1000px)
{
.news-events
{
   width: 100%;
}
.latestnews
{
  width:60%;
   height: auto;
   display: inline-block;
 float: left;
 

 box-sizing: border-box;
}
.latestevents
{
  width:40%;
   height: auto;
   display: inline-block;
} 
}


.lnews1
{
   margin: 20px 0px 50px 0px;
}
.levent1
{
   margin: 20px 0px 50px 0px;
}
.date-box
{
padding:30px;
height: 100px;
width: 100px;
background-color: #004677;
color: #fff;
text-align: center;
line-height: 1;
font-size: 1rem;
}
/*end of news-events*/


.clearfix
{
  content:"";
  display: table;
  clear:both;
}

/*news-events*/

@media (min-width:1000px)
{
.news-events
{
   width: 100%;
}
.latestnews
{
  width:60%;
   height: auto;
   display: inline-block;
 float: left;
 

 box-sizing: border-box;
}
.latestevents
{
  width:40%;
   height: auto;
   display: inline-block;
} 
}


.lnews1
{
   margin: 20px 0px 50px 0px;
}
.levent1
{
   margin: 20px 0px 50px 0px;
}
.date-box
{
padding:30px;
height: 100px;
width: 100px;
background-color: #004677;
color: #fff;
text-align: center;
line-height: 1;
font-size: 1rem;
}
/*end of news-events*/


.clearfix
{
  content:"";
  display: table;
  clear:both;
}

/*news and events*/
.news {
    /* background-color:#ccccff ; */
  padding-top: 10%;
  /* background: chocolate; */

}
.ci {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #ccccff;

}
.ct {
  margin-bottom: 0.3rem;
}
.cat {
  display: inline-block;
  margin-bottom: 1rem;
  color: #003057;
}
.fa-users {
  margin-left: 1rem;
}
.cf {
  font-size: 0.8rem;
}

.c2
{
 margin: 8px;
}
.cio
{
  text-align: start;
  margin: -35px 0px 0px -11px;
}


/*end of news and events*/




/*footer*/
.footer{
  background-color:#000039;
  padding:10px 0px 60px 0px ;
  color: white;

}
.fbox
{ 
  background-color: rgba(123, 176, 214,1);
  position: relative;
  top: -80px;
 -webkit-box-shadow: -20px -20px 5px 0 rgba(52, 58, 64, 0.1);
 box-shadow: -20px -20px 5px 0 rgba(52, 58, 64, 0.1);
 /* box-shadow: -20px -20px 5px  rgba(123, 176, 214,0.1); */
 padding: 20px;
}
.follow
{
  padding-top: 30px;
}
@media (min-width:1000px) {
  .footer_list1
  {
    padding:20px 0px 0px 100px;
  }

}
.footer_list1
{
  color: white;

  list-style-type: none;
}
.footer_list2
{
  list-style-type: none;

}
.footer_list2 li i
{
  
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  
}
.footer_list2 li
{
 display: inline;
 color: rgba(255, 255, 255, 0.5);
}
.footer_list3
{
  list-style-type: none;
  text-align: center;
}
.footer_list3 li 
{
  display: inline;
  padding: 5px;
 
}

.footertext
{
  color: rgba(123, 176, 214,0.8);
  font-size: medium;
}

.footertext:hover{
  text-decoration: underline;
  font-size: large;
}
/*footer end*/